/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
nav {
  max-width: 1440px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */
  gap: 420px;
  justify-content: center;
}

.layout {
  display: flex;
  display: row;
  gap: 20px;
}

.layout li {
  list-style: none;
}

.btn {
  display: flex;
  button {
    background-color: rgb(201, 0, 0);
    outline: none;
    border: none;
  }
}

.homeContainer {
  width: 1125px;
  height: calc(100vh - 72px) ;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
}

.textFrame{
  display: flex;
  flex-direction: column;
  width: 595px;
}

.textFrame h1{
  font-weight: 800;
  font-size: 80px;
  width: 595px;
  height: 80px;
  line-height: 0.8;
}

.textFrame p{
  width: 300px;
  text-align: justify;
}

.imageFrame{
  width: 530;
  height: 490px;
}

.newbtn{
  display: flex;
  flex-direction: row;
  gap: 10px;

  button{
    width: 100px;
    height: 30px;
    border-radius: 6px;
  }
}

.category{
  background-color: gray;
}

.shopImages{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
